{% # theme-check-disable RemoteAsset %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
{% # theme-check-enable RemoteAsset %}

<script type="application/javascript">
  loadDynamicScriptTag("https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js", function() { document.dispatchEvent(new Event('swiperLoaded')); })
  loadDynamicScriptTag("{{ 'product-form.js' | asset_url }}")
</script>

<script src="{{ 'component-pdp-slider.js' | asset_url }}" defer="defer"></script>

{% if product.media.size > 0 %}
  <pdp-slider id="MediaGallery-{{ section.id }}" role="region" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" class="block pdp-slider">
    <div id="GalleryStatus-{{ section.id }}" class="sr-only" role="status"></div>
    <div data-slider class="pdp-swiper overflow-hidden relative" id="GalleryViewer-{{ section.id }}">
      <div class="pdp-prev focus-visible:ring-inset flex items-center justify-center w-10 h-10 sm:w-15 sm:h-15 xl:w-25 xl:h-25">{% render 'icon-arrow', class: 'rotate-180 w-3 h-3 sm:w-4 sm:h-4 lg:w-5 lg:h-5' %}</div>
      <div class="pdp-next focus-visible:ring-inset flex items-center justify-center w-10 h-10 sm:w-15 sm:h-15 xl:w-25 xl:h-25">{% render 'icon-arrow', class: 'w-3 h-3 sm:w-4 sm:h-4 lg:w-5 lg:h-5' %}</div>

      <div class="swiper-pagination flex items-center justify-center lg:hidden"></div>
      
      <ul class="flex swiper-wrapper" role="list">
        {%- for image in product.images -%}
          <li id="Slide-{{ section.id }}-{{ image.id }}" data-media-position="{{ forloop.index0 }}" class="swiper-slide">
            {% render 'image', image: image,
              preload: true,
              fit: 'cover',
              sizes: "100vw, (min-width: 768px) 42vw"
            %}
          </li>
        {%- endfor -%}
      </ul>

    </div>
    <div class="pdp-slider__thumbs hidden mt-gutter{% if product.media.size > 2 %} lg:block{% else %} lg:hidden{% endif %}">
      <ul class="flex swiper-wrapper" role="list">
        {%- for image in product.images -%}
          <li id="Slide-{{ section.id }}-{{ image.id }}" data-media-position="{{ forloop.index0 }}" class="relative swiper-slide">
            {% render 'image', image: image,
              preload: true,
              fit: 'cover',
              sizes: "100px"
            %}
            <button class="block appearance-none inset-0 absolute" type="button" aria-label="Slide {{ forloop.index }}"></button>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </pdp-slider>
{% endif %}
