{% assign complementary_products = product.metafields.shopify--discovery--product_recommendation.complementary_products.value %}

{% if complementary_products != blank %}
  <div>
    <h3 class="">
      {{ block.settings.heading }}
    </h3>
    <div class="">
      {%- for alternate_product in complementary_products -%}
        {%- if alternate_product == product -%}
          <span class="underline">{{ product.metafields.custom.size_name  }}</span>{% unless forloop.last %}, {% endunless %}
        {%- else -%}
          <span class="text-black/40">
           <a class="text-link" href="{{ alternate_product.url }}" title="{{ alternate_product.title }}">{{ alternate_product.metafields.custom.size_name }}</a>{% unless forloop.last %}, {% endunless %}</span>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{% endif %}