
{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<footer class="flex items-end pt-17">
  <div class="w-full padding-x py-4">
      <ul class="md:flex items-center justify-between list-none">
        {%- for link in section.settings.menu.links -%}
          <li class="text-link">
            <a {% if link.current %} aria-current="page" {% endif %} href="{{ link.url }}" class="uppercase text-link whitespace-nowrap">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
        
        <li class="text-right uppercase">&copy; {{ 'now' | date: "%Y" }}&nbsp;<a href={{ routes.root_url }} class="text-link">{{ shop.name }}</a></li>

      </ul>


  </div>
</footer>

{% comment %}theme-check-enable UndefinedObject{% endcomment %}


{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Menu"
    }
  ]
}
{% endschema %}
