
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<product-recommendations
  class="isolate"
  data-collection="{{ collection.handle }}"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
  <div class="padding-x mt-12">
    <div class="block related-products overflow-hidden w-full">
      <h2 class="uppercase mb-gutter">
        {{ section.settings.heading }}
      </h2>
      <ul
        class="w-full -mb-5 md:mb-0 pb-5 md:pb-0 overflow-x-scroll snap-x snap-mandatory flex md:grid md:grid-flow-dense md:grid-cols-4 space-x-gutter md:space-x-0 md:gap-x-gutter"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          <li data-collections="{{ recommendation.collections | map: "handle" | join: ',' }}" class="product-recommendations__item grid__item snap-normal snap-start w-[calc(50%-5px)] md:w-auto grow-0 shrink-0 md:pr-0">
            {% render 'card-product',
              show_secondary_image: true,
              card_product: recommendation
            %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</product-recommendations>


{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.related-products.settings.paragraph__1.content"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Related Products",
        "label": "t:sections.related-products.settings.heading.label"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 10,
        "step": 1,
        "default": 4,
        "label": "t:sections.related-products.settings.products_to_show.label"
      }
    ]
  }
{% endschema %}